/* Informações da página toda */
body {
    background-color: gray;
}

/* Informações do botão de cadastro */
.btn-cadastro{
    background-color: white;
    color: purple;
}

/* Ação quando passar o mouse por cima do botão */
.btn-cadastro:hover{
    background-color: black;
    color: white;
}


/* ------------------------------------------------------------------------------ */
/* Essas opções são de estilos mais fixos, não é necessário se preocupar com elas */
.form-login{
    max-width: 650px;
}