/* Cor de background da tela por completo */
.Login-content{
    background-color: var(--principal);
}

/* Informações do botão de login */
.btn-login{
    background-color: var(--terciaria);
    color: var(--principal);
}

/* Ação quando passar o mouse por cima do botão */
.btn-login:hover{
    background-color: var(--secundaria);
    color: var(--terciaria);
}

/* Opções abaixo do botão de login */
.opcoes-login a{
    color: var(--terciaria);
}

/* Ação ao passar o mouse nas opções acima */
.opcoes-login a:hover{
    color: var(--secundaria);
}

/* ------------------------------------------------------------------------------ */
/* Essas opções são de estilos mais fixos, não é necessário se preocupar com elas */
.Login-content{
    width: 100%;
    padding: 5%;
    margin: auto;
    height: 100vh;
}

.opcoes-login a{
    text-decoration: none;
    transition: .3s ease-in-out;
    font-size: 16px;
}