@import url("./base.css");

/* Editando a cor de fundo e os textos do navbar */
nav , nav a, nav button, nav div{
    background-color: var(--principal);
    color: var(--secundaria);
}

/* A caixa de login */
.login {
    color: var(--textoPrincipal);
    border-color: var(--textoPrincipal);
    background-color: var(--backgroundBotaoNav);
}

/* Ao passar o mouse em cima da opção de login */
.login:hover {
    color: var(--backgroundBotaoNav);
    border-color: var(--backgroundBotaoNav);
    background-color: var(--textoPrincipal);
}

/* A opção de sair */
.sair {
    font-size: 18px;
    color: var(--secundaria);
}

/* Ao passar o mouse em cima da opção de sair */
.sair:hover {
    color: var(--secundaria);
}


/* ------------------------------------------------------------------------------ */
/* Essas opções são de estilos mais fixos, não é necessário se preocupar com elas */

.login {
    margin-right: 6px;
    font-weight: bold;
    border: 1px solid;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.login:hover {
    text-decoration: none;
}

.sair:hover {
    text-decoration: none;
}